#An example systemd service, which will execute our script to bring up the WireGuard VPN interface, add the VPN routing table, and set its routes.
[Unit]
After=network.target

[Service]
ExecStart=/root/wg-up.sh

[Install]
WantedBy=default.target
